:host {
    width: 10px;
    height: 10px;
    display: inline-block;
}

:host(.cell_white) {
    background-color: white;
}

:host(.cell_black) {
    background-color: black;
}

:host(.cell_unknown) {
    background-color: gray;
}
